# Vector DB Settings
PERSIST_DIRECTORY=db
EMBEDDINGS_MODEL_NAME=all-mpnet-base-v2
TARGET_SOURCE_CHUNKS=5

# LLM Settings
MODEL_TYPE=LlamaCpp
MODEL_PATH=models/llama-2-7b-chat.ggmlv3.q4_K_M.bin
MODEL_N_CTX=2048
MODEL_N_BATCH=1024

# Atlassian Confluence Settings
CONFLUENCE_INTEGRATION_ENABLED=False
CONFLUENCE_USERNAME=[Walmart AD username]
CONFLUENCE_PASSWORD=[Walmart AD password]
CONFLUENCE_SPACE=[Space you want to download]
CONFLUENCE_URL=https://confluence.walmart.com